[
    {lager, [
        {async_threshold, 30},
        {async_threshold_window, 15},
        {error_logger_hwm, 60},
        {error_logger_redirect, true},
        {crash_log, "log/crash.log"},
        {crash_log_size, 10485760},
        {crash_log_date, "$D0"},
        {crash_log_count, 9},
        {crash_log_msg_size, 4096},
        {handlers, [
            {lager_console_backend, [
                info,
                {lager_default_formatter, [
                    date, " ", time, " [", severity, "] ",
                    {module, [{pid, [pid, "@"], ["<0.0.0>@"]}, module, {function, [":", function], [":common"]}], ["<0.0.0>@sidney:common"]}, " ", message, "\n"]}
            ]},
            {lager_file_backend, [
                {level, info},
                {file, "log/console.log"},
                {size, 10485760},
                {date, "$D0"},
                {count, 9},
                {formatter, lager_default_formatter},
                {formatter_config, [
                    date, " ", time, " [", severity, "] ",
                    {module, [{pid, [pid, "@"], ["<0.0.0>@"]}, module, {function, [":", function], [":common"]}], ["<0.0.0>@sidney:common"]}, " ", message, "\n"]}
            ]},
            {lager_file_backend, [
                {level, error},
                {file, "log/error.log"},
                {size, 10485760},
                {date, "$D0"},
                {count, 9},
                {formatter, lager_default_formatter},
                {formatter_config, [
                    date, " ", time, " [", severity, "] ",
                    {module, [{pid, [pid, "@"], ["<0.0.0>@"]}, module, {function, [":", function], [":common"]}], ["<0.0.0>@sidney:common"]}, " ", message, "\n"]}
            ]}
        ]}
    ]}
].
